<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/zerver/protect/public/css/styles.css">
    <link rel="icon" href="/zerver/necessary/icon.png">
    <title>Access Denied</title>
  </head>
  <body>
    <div class="stars"></div>
    <div class="container">
      <h1>Access Denied</h1>
      <p>Invalid link. Generate a new one below.</p>
      <a href="<%= link %>"><button>New Link</button></a>
    </div>
    <script src="/zerver/protect/public/js/main.js"></script>
  </body>
</html>
