<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generate Your Key</title>
  <link rel="icon" href="/zerver/necessary/icon.png">
  <link rel="stylesheet" href="/zerver/protect/vip/home/css/styles.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
  <div class="stars"></div>
  <div class="container">
    <h1>Generate Key</h1>
    <p>Your unique key is ready for use</p>
    <div class="key" id="key" data-key="<%= key %>">
      <%= key %>
    </div>
 <div class="button-container">
    <button class="copy-button" id="copyButton">Copy Key</button>
    <a href="<%= link %>"><button>Generate New Key</button></a>
</div>

  </div>

  <script src="/zerver/protect/vip/home/js/main.js"></script>
</body>
</html>
